---
layout: page
title: The Campers
tagline: (and Their Games)
navCampsClass: active
navCamps2011Class: active
---
{% include JB/setup %}

<p>I teach a week-long game programming class every June for <a href="http://landryacademy.com/camps.htm" targt="_blank">Landry Academy’s academic summer camps</a> in Banner Elk, NC. Students range in age from 13 to 18. Most have never written a program before. In just five short days, though, the campers have designed and built a working game which they demonstrate to the campers from the other fields of study on the last day.</p>

<p>Before the Landry camps, I had never taught high school students. My only experience with teaching was as a corporate trainer. I very much enjoy my annual trip to NC. The enthusiasm and creativity of the students are contagious. It’s a nice break from my day job of writing applications for companies and governmental agencies.</p>

<p>Here are the descriptions of previous camps, along with videos and downloads of the games that the students made.</p>

<hr/>

{% assign styleWrapper        = "background-color:#eee; border:1px solid #888;"%}
{% assign styleImagesHeader   = "background-color:#eee; padding:0 10px; padding-top:10px; line-height:150px;"%}
{% assign styleImagesLeaders  = "background-color:#ccc; padding:0 10px; margin:5px;"%}
{% assign styleImagesStudents = "background-color:#ddd; padding:0 10px; margin:5px;"%}
{% assign styleImagesShowcase = "margin:5px; float:right; text-align:center;"%}
{% assign clearFloats = "<div style='clear:both;'></div>" %}

<div style="{{ styleWrapper }}">
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2011/instructor.png,Instructor: Joseph Hall|counselor,2011/counselor-01.png,Counselor: Derek Garde" %}
{% include images.incl style=styleImagesStudents images="student,2011/student-01.png,Keith|student,2011/student-02.png,John|student,2011/student-03.png,Joshua|student,2011/student-04.png,Luke|student,2011/student-05.png,Matthew|student,2011/student-06.png,Albert|student,2011/student-07.png,Addison" %}
</div>

<div style="padding:10px;">
<h2>Camp 2011</h2>

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2011/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=DQLPodfc99o" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2011/game-src-2011.zip" class="btn btn-primary">Download Code</a>
</div>

<p>This collection of students really spoiled me. I couldn't have had a better group to teach for my first year at Landry. They had a contagious passion that made the insane deadline (4 days from concept to demo) achievable. During almost every block of time that the camp had scheduled free-time for the kids, you’d find them in the classroom, hard at work on the project.</p>

<p>The class was fairly evenly split between a scrolling shooter (like Defender or 1942) or an Angry Birds clone. We ultimately decided on an original game that combined the two concepts. Four birds (controlled by four players) fly along, shooting pigs with seeds and dropping eggs on them. There are three types of pigs: normal pigs (on the ground and in trees), pig-a-troopers (who parachute in), and the king pig (who tosses baby pigs at you).</p>

<p>The game’s art is a mix of characters from the Angry Birds game, random images we found via Google searches, and some hills that were drawn the night before we gave our class presentation to the students from the other academic areas. All the in-game sound effects were created by the students. I think the effects came out great, and I think they really add a lot to the final game. The music was downloaded from the website of a talented composer who recreated the Angry Birds theme in Garage Band.</p>

{{ clearFloats }}
</div>
</div>

<hr/>

<div style="{{ styleWrapper }}">
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2012/instructor.png,Instructor: Joseph Hall|counselor,2012/counselor-01.png,Counselor|counselor,2012/counselor-02.png,Counselor: Derek Garde" %}
{% include images.incl style=styleImagesStudents images="student,2012/student-01.png|student,2012/student-02.png|student,2012/student-03.png|student,2012/student-04.png,Addison|student,2012/student-05.png,Mickey" %}
</div>

<div style="padding:10px;">
<h2>Camp 2012</h2>

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2012/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=PXcdAyESLr0" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2012/game-src-2012.zip" class="btn btn-primary">Download Code</a>
</div>

<p>We had a brainstorming session on the first day, while we waited for the installers to do their magic, planning what type of game we would build. I was campaigning for a Rock Band / Guitar Hero style game, but the class decided to design a platformer game (ala Super Mario Bros.). A cartoony hero walks around a factory / lab complex jumping on the heads of killer robots to destroy them. There are two flavors of robot: the Hoverbot who quickly floats towards the player, and the Tankbot who moves a little slower, but fires missiles at the player at regular intervals. When a robot is destroyed, it drops a gear (likely) or a heart (less frequently). The player’s score is the number of gears collected.</p>

<p>The game’s art is a collection of doodles that I did in Adobe Illustrator, feverishly churning out assets each evening in an attempt to stay a step ahead of the class. The main character is the result of a tutorial that I followed over at idleworm.com.</p>

<p>Along the way, the students learned about how simple, manageable components of a game are implemented, and how those simpler parts combine to make a more-complex whole. They also learned about the tools that game developers use to create games, and how to trim and prioritize an overly ambitious design to meet a looming deadline.</p>

<p>The plan to make a platformer turned out to be too much work for a week-long project. We cut features, and ultimately decided to turn the project into a survival game.</p>

{{ clearFloats }}
</div>
</div>

<hr/>

<div style="{{ styleWrapper }}">
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2013/instructor.png,Instructor: Joseph Hall" %}
{% include images.incl style=styleImagesStudents images="student,2013/student-01.png|student,2013/student-02.png|student,2013/student-03.png|student,2013/student-04.png|student,2013/student-05.png" %}
</div>

<div style="padding:10px;">
<h2>Camp 2013</h2>

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2013/gameplay.png" /><br/><br/>
  <a href="http://www.youtube.com/watch?v=rm6kNZeW9Pw" target="_blank" class="btn btn-primary">Gameplay Video</a>
  <a href="2013/game-src-2013.zip" class="btn btn-primary">Download Code</a>
</div>

<p>On the first day, I typically have a brainstorming session with the students while the tools are installing. With past classes, we compile a list of game genres that we might like to explore, come to a consensus on which to implement, then dive deeper into the details of the selected game.</p>

<p>This year, the students gravitated immediately to a concept based loosely on Temple Run. Rather than considering other genres, they kept tossing out ideas for the platformer-style game. It was obvious what our project would be early into the process. I keep campaigning for a Rock Band clone, but it never seems to take hold of anyone’s interest. :)</p>

<p>In addition to art I created and images we scavenged from the web, we took video of one of the camp counselors in several poses, including a slow motion roll. The students cut the images from the still frames of the video, and the counselor (hi, Tim!) was our game’s main character.</p>

<p>The game supports two players, each of which has to run an identical gauntlet of obstacles. The player that makes it the furthest distance before losing three health points is the winner. The original design included power-ups and more elaborate obstacles. In the end, we realized that the full game would to be too much work for a week-long project. We cut features, but the end result was still a very nice game.</p>

{{ clearFloats }}
</div>
</div>

<hr/>

<div style="{{ styleWrapper }}">
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2014/instructor.png,Instructor: Joseph Hall|counselor,2014/counselor-01.png,Counselor: Hanna" %}
{% include images.incl style=styleImagesStudents images="student,2014/student-01.png|student,2014/student-02.png|student,2014/student-03.png|student,2014/student-04.png|student,2014/student-05.png|student,2014/student-06.png|student,2014/student-07.png|student,2014/student-08.png|student,2014/student-09.png,Lexy|student,2014/student-10.png" %}
</div>

<div style="padding:10px;">
<h2>Camp 2014</h2>

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2014/gameplay.png" /><br/><br/>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Gameplay Video</a>
  <a href="2014/game-src-2014.zip" class="btn btn-primary">Download Code</a>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue suscipit sem, ut aliquam augue elementum ac. Mauris ut elementum justo. Maecenas et arcu sit amet nisi maximus efficitur. Vivamus scelerisque massa commodo arcu condimentum, eget porttitor leo blandit. Morbi sem dolor, euismod eget eleifend at, dignissim at nulla. Phasellus a aliquet turpis. Sed lacinia blandit cursus. Sed magna libero, efficitur vitae felis vitae, aliquet porttitor neque.</p>

<p>Cras faucibus varius risus in imperdiet. Aliquam erat volutpat. Vestibulum aliquam felis nec lacus fermentum, eget egestas nulla porttitor. Integer faucibus ex ornare mi sodales, in sodales lorem tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultrices ex sit amet mauris fringilla ullamcorper.</p>

{{ clearFloats }}
</div>
</div>

<hr/>

<div style="{{ styleWrapper }}">
<div style="{{ styleImagesHeader }}">
{% include images.incl style=styleImagesLeaders  images="instructor,2015/placeholder.png,Instructor: Joseph Hall|counselor,2015/placeholder.png,Counselor|counselor,2015/placeholder.png,Counselor" %}
{% include images.incl style=styleImagesStudents images="student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png|student,2015/placeholder.png" %}
</div>

<div style="padding:10px;">
<h2>Camp 2015</h2>

<div style="{{ styleImagesShowcase }}">
  <img alt="screenshot" src="2015/gameplay.png" /><br/><br/>
  <a href="#null" target="_blank" class="btn btn-default btn-disabled disabled">Gameplay Video</a>
  <a href="#null" class="btn btn-default btn-disabled disabled">Download Code</a>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue suscipit sem, ut aliquam augue elementum ac. Mauris ut elementum justo. Maecenas et arcu sit amet nisi maximus efficitur. Vivamus scelerisque massa commodo arcu condimentum, eget porttitor leo blandit. Morbi sem dolor, euismod eget eleifend at, dignissim at nulla. Phasellus a aliquet turpis. Sed lacinia blandit cursus. Sed magna libero, efficitur vitae felis vitae, aliquet porttitor neque.</p>

<p>Cras faucibus varius risus in imperdiet. Aliquam erat volutpat. Vestibulum aliquam felis nec lacus fermentum, eget egestas nulla porttitor. Integer faucibus ex ornare mi sodales, in sodales lorem tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultrices ex sit amet mauris fringilla ullamcorper.</p>

{{ clearFloats }}
</div>
</div>

<hr/>